.container {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.lock {
    overflow: hidden;
}

.section-label {
    display: inline-block;
    background-color: $orange;
    padding: 2px 4px;
    color: $white;
    @include adaptive-value("font-size", 16, 14, 1);
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 2px;
}

.orange_text {
    color: $orange;
}

.default-section {
    padding: 80px 0;
}

.hero {
    position: relative;
    max-width: 1400px;
    width: 100%;
    margin: 20px auto;
    border-radius: 16px;
    overflow: hidden;

    @include media ("<tablet") {
        width: calc(100% - 16px);
        margin: 5px auto 5px auto;
    }

    .container {
        max-width: 100%;
        padding: 100px 24px 24px 50px;

        @include media ("<widescreen") {
            padding: 80px 16px 40px 20px;
        }
    }

    &_bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 67% 0;
        z-index: -1;
    }

    &_content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }

    &_text-contenet {
        max-width: 750px;
        width: 100%;

        @include media ("<widescreen") {
            max-width: 100%;
        }
    }

    .section-label {
        margin-bottom: 10px;
    }

    &_title {
        color: $white;
        @include adaptive-value("font-size", 52, 36, 1);
        @include adaptive-value("letter-spacing", 1.56, 1.08, 1);
        font-weight: 500;
        margin-bottom: 16px;
        line-height: 115%;
    }

    &_descr {
        color: $white;
        @include adaptive-value("font-size", 20, 18, 1);
        line-height: 140%;
        font-weight: 500;
        margin-bottom: 32px;
    }

    &_info {
        display: flex;
        align-items: center;
        gap: 10px 16px;
        @include adaptive-value("margin-top", 114, 82, 1);
        margin-bottom: 26px;

        @include media ("<widescreen") {
            margin-bottom: 0;
        }

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .hero_info {

        &__item {
            display: flex;
            align-items: center;
            gap: 12px;
            max-width: 184px;
            width: 100%;
            border-radius: 10px;
            border: 1px solid $white;
            background-color: rgba($color: #000000, $alpha: 0.25);
            padding: 16px;
            backdrop-filter: blur(12px);

            @include media ("<tablet") {
                max-width: 100%;
            }

            img {
                width: 40px;
                height: 40px;
            }

            span {
                color: $white;
                font-size: 16px;
                line-height: 120%;
                font-weight: 500;
            }
        }
    }

    .btn {
        @include media ("<phone") {
            width: 100%;
        }
    }

    &_swiper {
        max-width: 478px;
        width: 100%;
        height: 319px;
        border-radius: 12px;
        border: 1px solid $white;
        margin-top: auto;
        margin-right: 0 !important;

        @include media ("<widescreen") {
            display: none !important;
        }

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid $white;

            &::after {
                color: $white;
                font-size: 18px;
            }
        }


        .swiper-button-prev {
            &::after {
                margin-right: 3px;
            }
        }

        .swiper-button-next {
            &::after {
                margin-left: 2px;
            }
        }
    }
}

.innovation {

    &_img {
        max-width: 609px;
        width: 100%;
        height: 406px;
        border-radius: 12px;
        overflow: hidden;

        @include media ("<tablet") {
            height: auto;
            max-width: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_top-content {
        display: flex;
        align-items: flex-start;
        gap: 20px 50px;
        margin-bottom: 20px;

        @include media ("<tablet") {
            flex-direction: column;
        }

        .innovation_text-wrap {
            max-width: 560px;
            width: 100%;

            @include media ("<tablet") {
                max-width: 100%;
            }
        }

        &__title {
            margin-bottom: 24px;
        }

        &__subtitle {
            margin-bottom: 16px;
        }
    }

    &_bottom-content {
        display: flex;
        align-items: center;
        gap: 20px 50px;

        @include media ("<desktop") {
            flex-direction: column-reverse;
        }

        .innovation_text-wrap {
            min-width: 640px;
            max-width: 640px;

            @include media ("<desktop") {
                min-width: auto;
            }
        }

        &__title {
            @include adaptive-value("margin-bottom", 20, 24, 1);
        }

        &__card-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;

            @include media ("<tablet") {
                gap: 16px;
            }
        }

        &__card {
            border-radius: 12px;
            background-color: $whiteF5;
            border: 1px solid $gray;
            @include adaptive-value("padding", 30, 24, 1);

            &:nth-child(1),
            &:nth-child(2) {
                width: 48%;

                @include media ("<tablet") {
                    width: 100%;
                }
            }

            &:nth-child(3) {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 20px;

                @include media ("<tablet") {
                    flex-direction: column;
                }

                h5 {
                    max-width: 290px;
                }
            }

            img {
                width: 44px;
                height: 44px;
                @include adaptive-value("margin-bottom", 48, 20, 1);
            }

            p {
                font-weight: 500;
                color: $black1F;
            }
        }
    }
}

.services {
    text-align: center;

    &_title {
        margin-bottom: 30px;
        text-align: start;
    }

    &_content {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(360px, 1fr));
        justify-items: center;
        gap: 20px;
        @include adaptive-value("margin-bottom", 30, 24, 1);

        @include media ("<phone") {
            grid-template: 1fr / 1fr
        }
    }

    &_card {
        max-width: 420px;
        width: 100%;
        min-height: 462px;
        height: 100%;
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        ul {
            margin-bottom: 16px;
            flex: 1;

            li {
                color: $dark_gray;
                @include adaptive-value("font-size", 16, 15, 1);

                &::before {
                    background-color: $dark_gray;
                }
            }
        }
    }

    .btn {
        @include media ("<phone") {
            width: 100%;
        }
    }

    .card {

        &_img {
            width: 100%;
            height: 240px;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_title {
            margin-bottom: 10px;
        }
    }
}

.choose {
    max-width: 1400px;
    width: calc(100% - 10px);
    margin: 20px auto;
    background-color: $whiteF5;
    border: 1px solid $gray;
    border-radius: 16px;
    overflow: hidden;

    @include media ("<phone") {
        margin: 5px auto;
    }

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 38px 14px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    &_text {
        padding: 30px 0;
        @include adaptive-value("padding-left", 50, 0, 1);

        max-width: 581px;
        width: 100%;

        @include media ("<tablet") {
            padding: 80px 20px 0 20px;
            max-width: 100%
        }
    }

    &_title {
        @include adaptive-value("margin-bottom", 30, 24, 1);
    }

    &_subtitle {
        @include adaptive-value("margin-bottom", 16, 10, 1);
    }

    &_img {
        max-width: 755px;
        width: 100%;
        height: 503px;
        position: relative;

        @include media ("<tablet") {
            width: 755px;
        }

        img {

            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 80% 0;

            @include media ("<tablet") {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-55%);
            }
        }
    }
}

.gallery {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    &_title {
        margin-bottom: 30px;
    }

    &_swiper {
        .swiper-slide {
            border-radius: 12px;
            min-height: 100%;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &_swiper__nav {
        display: flex;
        align-items: center;
        gap: 30px;
        width: max-content;
        margin-top: 10px;

        @include media ("<tablet") {
            margin: 30px auto 0 auto;
        }

        .swiper-pagination,
        .swiper-button-prev,
        .swiper-button-next {
            position: static;
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background-color: #D2D2D2;
            transition: all .3s ease;
        }

        .swiper-pagination-bullet-active {
            background-color: $black;
            transition: all .3s ease;
        }

        .swiper-button-prev,
        .swiper-button-next {
            min-width: 40px;
            min-height: 40px;
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
            border: 2px solid $black;
            margin: 0;
            transition: all .3s ease;

            &:hover {
                background-color: $black;
                border-color: $white;
                transition: all .3s ease;

                &::after {
                    color: $white;
                    transition: all .3s ease;
                }
            }

            &::after {
                color: $black;
                font-size: 16px;
                transition: all .3s ease;
            }
        }

        .swiper-button-prev {
            &::after {
                margin-right: 3px;
            }
        }

        .swiper-button-next {
            &::after {
                margin-left: 2px;
            }
        }
    }
}

.contact-form {
    padding: 100px 0;

    @include media ("<tablet") {
        padding: 80px 0;
    }

    &_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
        background-color: $black1F;
        border-radius: 12px;
        overflow: hidden;
        padding: 60px;
        @include adaptive-value("padding-right", 60, 20, 1);
        @include adaptive-value("padding-left", 60, 20, 1);
        position: relative;

        @include media ("<tablet_x") {
            flex-direction: column;
        }

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 65%;
            width: 100%;
            background: linear-gradient(180deg, rgba(31, 31, 31, 0) 0%, #1F1F1F 100%);
        }
    }

    &_bg {
        position: absolute;
        right: 0;
        bottom: 0;

        @include media ("<tablet") {
            min-width: 742px;
            height: 470px;
            right: -60%;
        }
    }

    &_text-block,
    &_form-wrap {
        position: relative;
        z-index: 1;
    }

    &_text-block {
        max-width: 460px;
        width: 100%;

        @include media ("<tablet_x") {
            max-width: 100%;
        }
    }

    &_title {
        color: $white;
        margin-bottom: 20px;
    }

    &_descr {
        color: $white;
    }

    &_form-wrap {
        max-width: 470px;
        width: 100%;

        @include media ("<tablet_x") {
            max-width: 100%;
        }

        form {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            input {

                &:nth-child(1),
                &:nth-child(2) {
                    width: 48%;

                    @include media ("<tablet") {
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    width: 100%;
                }
            }

            input,
            textarea {
                padding: 13px 16px;
                border-radius: 8px;
                background-color: $white;
                accent-color: $black;
                @include adaptive-value("font-size", 18, 16, 1);
                border: 1px solid transparent;
                transition: all .3s ease;

                outline: none;

                &::placeholder {
                    color: #A5A5A5;
                }

                &:focus {
                    border-color: $orange;
                    transition: all .3s ease;

                    outline: none;
                }
            }

            textarea {
                width: 100%;
                height: 100px;
            }

            .custom-checkbox-wrap {
                margin: 14px 0 22px 0;
                display: flex;
                align-items: flex-start;
                cursor: pointer;
                user-select: none;
                gap: 15px;
                font-size: 14px;
                line-height: 140%;
                color: $white;

                input {
                    display: none;

                    &:checked+.custom-checkbox {
                        background-color: #323232;

                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            .custom-checkbox {
                min-width: 20px;
                min-height: 20px;
                max-width: 20px;
                max-height: 20px;
                border: 2px solid $gray;
                border-radius: 2px;
                background-color: transparent;
                position: relative;
                padding: 8px;

                &::after {
                    content: url(../svg/arrow_check.svg);
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: opacity 0.2s;
                }
            }

            .btn {
                @include media ("<phone") {
                    width: 100%
                }
            }
        }
    }

}

.news {
    text-align: center;

    &_title {
        margin-bottom: 30px;
        text-align: start;
    }

    &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px 20px;
        margin-bottom: 30px;
    }

    &_card {
        max-width: 420px;
        width: 100%;
        text-align: start;
        position: relative;

        &:hover {
            img {
                scale: 1.05;
                transition: all .5s ease;
            }
        }
    }

    .card {

        &_link {
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        &_img {
            width: 100%;
            height: 280px;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 16px;

            @include media ("<tablet") {
                height: 230px;
            }

            img {
                transition: all .5s ease;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_head {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 10px;
        }

        &_category {
            background-color: $orange_hover;
            padding: 6px 10px;
            border-radius: 6px;
            color: $orange;
            @include adaptive-value("font-size", 16, 15, 1);
            font-weight: 500;
            line-height: 135%;
        }

        &_date {
            @include adaptive-value("font-size", 16, 15, 1);
            font-weight: 500;
            line-height: 135%;
            color: #8C8C8C;
        }

        &_title {
            margin-bottom: 10px;
        }

        &_descr {
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            @include adaptive-value("font-size", 16, 15, 1);
            color: #464646;
        }
    }

    .btn {
        @include media ("<phone") {
            width: 100%;
        }
    }
}

.accordion {
    display: flex;
    flex-direction: column;
    width: 100%;

    &_item {
        @include adaptive-value("padding-top", 27, 20, 1);
        @include adaptive-value("padding-bottom", 27, 20, 1);
        @include adaptive-value("padding-right", 30, 20, 1);
        @include adaptive-value("padding-left", 30, 20, 1);
        border: 2px solid $gray;
        border-radius: 12px;
        transition: all .3s ease;

        &:not(:last-child) {
            margin-bottom: 12px;
        }

        &.active {
            background-color: $whiteF5;
            transition: all .3s ease;

            .open_status {
                background-color: $orange;
                transition: all .3s ease;

                &::before,
                &::after {
                    background-color: $white;

                    transition: all .3s ease;
                    transition: all .3s ease;
                }

                &::before {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }

                &::after {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }

    &_trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        cursor: pointer;

        span {
            @include adaptive-value("font-size", 22, 14, 1);
            line-height: 125%;
            font-weight: 600;
            color: $black;
        }

        .open_status {
            min-width: 34px;
            min-height: 34px;
            max-width: 34px;
            max-height: 34px;
            border-radius: 50%;
            background-color: $orange_hover;
            position: relative;
            transition: all .3s ease;

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 16px;
                height: 2px;
                background-color: $orange;
                transition: all .3s ease;
            }

            &::before {
                transform: translate(-50%, -50%);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }

    &_content {
        margin-top: 12px;

        p {
            font-size: 16px;
            color: #5A5A5A
        }
    }
}

.faq {
    &_content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    &_title {
        max-width: 253px;
        width: max-content;

        @include media ("<tablet") {
            max-width: 100%;
        }
    }

    .accordion {
        max-width: 860px;
        width: 100%;
    }
}

.partners {
    &_title {
        margin-bottom: 39px;
    }

    &_content {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(220px, 1fr));
        align-items: center;
        gap: 20px;
    }

    &_item {
        display: grid;
        place-items: center;
        background-color: $whiteF5;
        height: 140px;

        &:nth-child(1) {
            img {
                width: 141px;
                height: 100px;
            }
        }

        &:nth-child(2) {
            img {
                width: 102px;
                height: 102px;
            }
        }

        &:nth-child(3) {
            img {
                width: 171px;
                height: 82px;
            }
        }

        &:nth-child(4) {
            img {
                width: 179px;
                height: 60px;
            }
        }

        &:nth-child(5) {
            img {
                width: 116px;
                height: 70px;
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    .pagination-button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $whiteF5;
        color: $black;
        transition: all .3s ease;
        font-size: 14px;
        font-weight: 500;

        &.active {
            background-color: $orange;
            color: $white;
            transition: all .3s ease;
        }

        &:hover {
            background-color: $orange_hover;
            color: $orange;
            transition: all .3s ease;
        }
    }

    .pagination-button-prev,
    .pagination-button-next {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 1px solid $orange;

        &:hover {
            background-color: $orange_hover;
            transition: all .3s ease;
        }
    }

    .pagination-button-prev {
        margin-right: 8px;

        img {
            margin-right: 3px;
        }
    }

    .pagination-button-next {
        margin-left: 8px;

        img {
            rotate: 180deg;
            margin-left: 3px;
        }
    }
}

.article {
    &_head {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &_category {
        background-color: $orange_hover;
        padding: 6px 10px;
        border-radius: 6px;
        color: $orange;
        @include adaptive-value("font-size", 16, 15, 1);
        font-weight: 500;
        line-height: 135%;
    }

    &_date {
        @include adaptive-value("font-size", 16, 15, 1);
        font-weight: 500;
        line-height: 135%;
        color: #8C8C8C;
    }

    &_title {
        max-width: 930px;
        width: 100%;
        @include adaptive-value("margin-bottom", 40, 30, 1);
    }

    &_main-img {
        width: 100%;
        @include adaptive-value("height", 573, 230, 1);
        border-radius: 16px;
        overflow: hidden;
        @include adaptive-value("margin-bottom", 40, 30, 1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content {
        display: flex;
        align-items: flex-start;
        gap: 30px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    &_description {
        padding-top: 10px;
        border-top: 2px solid $orange;
        max-width: 420px;
        @include adaptive-value("font-size", 22, 20, 1);
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -0.2px;

        @include media ("<desktop") {
            max-width: 100%
        }
    }

    &_text-content {
        max-width: 750px;
        width: 100%;
        margin-left: auto;

        @include media ("<desktop") {
            max-width: 100%
        }

        h3 {
            @include adaptive-value("margin-bottom", 20, 10, 1);
        }

        p {
            color: #5A5A5A;
            @include adaptive-value("font-size", 20, 18, 1);
            @include adaptive-value("margin-bottom", 24, 20, 1);
        }

        ol {
            padding: 0 0 0 17px;
            @include adaptive-value("margin-bottom", 12, 10, 1);

            li {
                color: #5A5A5A;
                @include adaptive-value("font-size", 20, 18, 1);

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        ul {
            @include adaptive-value("margin-bottom", 12, 10, 1);

            li {
                color: #5A5A5A;
                @include adaptive-value("font-size", 20, 18, 1);

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        img {
            width: 100%;
            @include adaptive-value("height", 346, 230, 1);
            border-radius: 16px;
            overflow: hidden;
            @include adaptive-value("margin-bottom", 40, 30, 1);
            object-fit: cover;
        }
    }
}

.about {
    max-width: 1400px;
    width: calc(100% - 40px);
    margin: 20px auto;
    aspect-ratio: 16 / 8;
    position: relative;
    border-radius: 16px;
    overflow: hidden;

    .container {
        height: 100%;
    }

    &_content {
        padding: 50px 0;
        max-width: 555px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }

    &_title {
        color: $white;
        margin-bottom: 16px;
    }

    &_descr {
        color: $white;
        @include adaptive-value("font-size", 20, 18, 1);
        line-height: 140%;
    }

    &_img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.history {

    &_title {
        @include adaptive-value("margin-bottom", 30, 24, 1);
    }

    &_content {
        display: grid;
        grid-template: 1fr / auto auto;
        justify-content: space-between;
        gap: 10px 30px;

        @include media ("<desktop") {
            grid-template: 1fr / 1fr;
        }
    }

    &_left-col {
        max-width: 660px;
        width: 100%;

        @include media ("<desktop") {
            max-width: 100%;
        }
    }

    &_right-col {
        max-width: 530px;
        width: 100%;

        @include media ("<desktop") {
            max-width: 100%;
        }
    }

    .top-content {
        @include adaptive-value("padding-bottom", 40, 24, 1);

        .history_subtitle {
            max-width: 602px;
            width: 100%;
            @include adaptive-value("margin-bottom", 41, 16, 1);
        }
    }

    .bottom-content {
        border-top: 1px solid #D2D2D2;
        @include adaptive-value("padding-top", 40, 24, 1);
    }

    &_date {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 62px;
            height: 62px;
        }

        span {
            font-size: 20px;
            font-weight: 500;
            color: $orange;
        }
    }

    &_subtitle {
        @include adaptive-value("margin-bottom", 16, 10, 1);
    }

    &_descr {
        @include adaptive-value("font-size", 20, 18, 1);
        line-height: 140%;
        font-weight: 500;
        color: $dark_gray;
    }

    &_img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.advantages {
    &_content {
        display: grid;
        grid-template: 1fr / auto auto;
        justify-content: space-between;
        gap: 30px;

        @include media ("<desktop") {
            grid-template: 1fr / 1fr;
            justify-items: center;
        }
    }

    &_img {
        max-width: 660px;
        width: 100%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_title {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 1;
        color: $white;
        max-width: 275px;

        @include media ("<desktop") {
            max-width: 100%;
            top: 20px;
            left: 20px;
        }
    }

    &_card-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        max-width: 530px;
        width: 100%;

        @include media ("<tablet") {
            gap: 16px;
        }
    }

    &_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 200px;
        border-radius: 12px;
        background-color: $whiteF5;
        border: 1px solid $gray;
        @include adaptive-value("padding", 30, 24, 1);

        @include media ("<desktop") {
            min-height: auto;
        }

        &:nth-child(1),
        &:nth-child(2) {
            width: 48%;

            @include media ("<tablet") {
                width: 100%;
            }
        }

        p {
            @include adaptive-value("font-size", 20, 18, 1);
            font-weight: 500;
            color: $black1F;
        }

        img {
            width: 44px;
            height: 44px;
            @include adaptive-value("margin-bottom", 48, 20, 1);
        }
    }
}

.novel {

    &_title {
        @include adaptive-value("margin-bottom", 30, 24, 1);
    }

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 30px;

        @include media ("<tablet") {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &_subtitle {
        max-width: 900px;
        width: 100%;
    }

    &_date {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 62px;
            height: 62px;
        }

        span {
            font-size: 20px;
            font-weight: 500;
            color: $orange;
        }
    }


    &_cards {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(360px, 1fr));
        justify-items: center;
        gap: 20px;
        @include adaptive-value("margin-bottom", 60, 40, 1);

        @include media ("<phone") {
            grid-template: 1fr / 1fr
        }
    }

    &_card {
        max-width: 420px;
        width: 100%;
    }

    .card {

        &_img {
            width: 100%;
            height: 240px;
            border-radius: 12px;
            overflow: hidden;
            margin-bottom: 16px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &_announcement {
        max-width: 855px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        h3 {
            @include adaptive-value("margin-bottom", 30, 10, 1);
        }

        p {
            max-width: 640px;
            width: 100%;
            margin: 0 auto;
            color: $dark_gray;
        }
    }
}

.team {

    .container {
        @include media ("<desktop") {
            padding: 0
        }
    }

    &_title {
        @include adaptive-value("margin-bottom", 30, 24, 1);

        @include media ("<desktop") {
            padding: 0 20px
        }
    }

    &_head {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;
        @include adaptive-value("margin-bottom", 50, 64, 1);

        @include media ("<desktop") {
            padding: 0 20px;
            flex-direction: column;
        }
    }

    &_col {
        width: 100%;
    }

    .col-left {
        max-width: 630px;
    }

    .col_right {
        max-width: 530px;
    }

    &_subtitle {
        @include adaptive-value("margin-bottom", 20, 10, 1);
    }

    &_descr {
        @include adaptive-value("font-size", 20, 18, 1);
        color: $dark_gray;
        line-height: 140%;
    }

    h3 {
        max-width: 850px;
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @include media ("<desktop") {
            padding: 0 20px
        }
    }

    &_gallery {
        @include adaptive-value("margin-bottom", 60, 64, 1);
        overflow: visible;

        .swiper-wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;

            @include media ("<desktop") {
                gap: 0;
                flex-wrap: nowrap;
                justify-content: flex-start
            }
        }

        .swiper-slide {

            @include media (">desktop") {
                width: auto !important;
            }

            img {
                width: 420px;
                height: 260px;
                object-fit: cover;
                border-radius: 12px;

                @include media ("<desktop") {
                    width: 100%;
                    height: 240px
                }
            }
        }
    }

    .swiper-nav {
        display: none;
        align-items: center;
        gap: 30px;
        width: max-content;
        margin-top: 10px;

        @include media ("<desktop") {
            display: flex;
            align-items: center;
            margin: 60px auto 0 auto;
        }


        .swiper-pagination,
        .swiper-button-prev,
        .swiper-button-next {
            position: static;
        }

        .swiper-pagination-bullet {
            width: 8px;
            height: 8px;
            background-color: #D2D2D2;
            transition: all .3s ease;
        }

        .swiper-pagination-bullet-active {
            background-color: $black;
            transition: all .3s ease;
        }

        .swiper-button-prev,
        .swiper-button-next {
            min-width: 40px;
            min-height: 40px;
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
            border: 2px solid $black;
            margin: 0;
            transition: all .3s ease;

            &:hover {
                background-color: $black;
                border-color: $white;
                transition: all .3s ease;

                &::after {
                    color: $white;
                    transition: all .3s ease;
                }
            }

            &::after {
                color: $black;
                font-size: 16px;
                transition: all .3s ease;
            }
        }

        .swiper-button-prev {
            &::after {
                margin-right: 3px;
            }
        }

        .swiper-button-next {
            &::after {
                margin-left: 2px;
            }
        }
    }
}


.service-template-head {
    max-width: 1400px;
    width: calc(100% - 10px);
    margin: 20px auto;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    height: 300px;

    @include media ("<tablet") {
        height: 230px;
    }

    @include media ("<phone") {
        margin: 5px auto;
    }

    &.backdrop {

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.65);
            z-index: -1;
        }
    }

    &.service-four {
        .bg {
            object-position: 100% 50%;
        }
    }


    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 77%;
        z-index: -2;
    }

    .container {
        height: 100%;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        @include adaptive-value("padding-top", 40, 24, 1);
        @include adaptive-value("padding-bottom", 40, 24, 1);

        h1 {
            color: $white;
        }
    }
}

.service-offers {
    .content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 24px;
        @include adaptive-value("margin-bottom", 38, 24, 1);

        @include media ("<desktop") {
            flex-direction: column;
        }

        h3 {
            max-width: 345px;
            width: 100%;
        }

        p {
            max-width: 568px;
            width: 100%;
            @include adaptive-value("font-size", 20, 18, 1);
            line-height: 140%;
            color: $dark_gray;
        }
    }

    .content-center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 915px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 20, 24, 1);
        text-align: center;

        &.wide {
            max-width: 1300px
        }

        h3 {
            @include adaptive-value("margin-bottom", 40, 24, 1);
        }

    }

    &_cards-wrap {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        width: 100%;

        @include media ("<tablet") {
            gap: 16px;
        }
    }

    &_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 12px;
        background-color: $whiteF5;
        border: 1px solid $gray;
        @include adaptive-value("padding", 30, 24, 1);
        height: 300px;

        @include media ("<desktop") {
            height: 200px;
        }

        @include media ("<tablet") {
            height: auto;
        }

        img {
            width: 44px;
            height: 44px;
            @include adaptive-value("margin-bottom", 48, 20, 1);
        }

        p {
            font-weight: 500;
            color: $black1F;
        }
    }
}

.service-text-image {

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 100, 24, 1);
        }

        @include media ("<tablet") {
            flex-direction: column;
        }

        &.revert {
            flex-direction: row-reverse;

            @include media ("<tablet") {
                flex-direction: column;
            }
        }
    }

    .text {
        max-width: 580px;
        width: 100%;

        h2 {
            @include adaptive-value("margin-bottom", 30, 24, 1);
        }

        p {
            @include adaptive-value("font-size", 20, 16, 1);
            color: $dark_gray;
        }

        ul {
            margin-top: 10px;
            padding-left: 15px;

            li {
                @include adaptive-value("font-size", 20, 16, 1);
                color: $dark_gray;

                &::before {
                    background-color: $dark_gray;
                }
            }
        }
    }

    .image {
        max-width: 640px;
        width: 100%;
        height: auto;
        border-radius: 16px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .service-partners {
        display: flex;
        align-items: center;
        gap: 16px;
        @include adaptive-value("margin-top", 16, 24, 1);
    }

    .partners-item {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $gray;
        border-radius: 12px;
        background-color: $whiteF5;
        padding: 20px 25px;

        @include media ("<tablet") {
            padding: 16px 40px;
        }

        img {
            width: 90px;
            height: 60px;

            @include media ("<tablet") {
                width: 72px;
                height: 48px;
            }
        }
    }
}

.service-text {

    h3 {
        max-width: 736px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

.service-advantages {
    max-width: 1400px;
    width: calc(100% - 10px);
    margin: 20px auto;
    border-radius: 16px;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.65);
        z-index: -1;
    }

    &_five {
        .service-advantages_cards-wrap {
            grid-template: 1fr / repeat(auto-fit, minmax(215px, 452px));
        }

        .service-advantages_card {
            max-width: 452px;
            height: 240px;
        }
    }

    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
    }

    .content {
        @include adaptive-value("padding-top", 80, 60, 1);
        @include adaptive-value("padding-bottom", 80, 60, 1);

        h2 {
            text-align: center;
            color: $white;
            max-width: 390px;
            width: 100%;
            margin: 0 auto;
            @include adaptive-value("margin-bottom", 40, 24, 1);
        }
    }

    &_cards-wrap {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(215px, 248px));
        justify-content: center;
        gap: 16px;
        width: 100%;

        @include media ("<phone") {
            grid-template: 1fr / 1fr;
        }
    }

    &_card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border-radius: 12px;
        border: 1px solid $gray;
        padding: 24px;
        height: 200px;
        backdrop-filter: blur(16px);
        max-width: 248px;
        width: 100%;

        @include media ("<tablet") {
            height: auto;
        }

        @include media ("<phone") {
            max-width: 100%;
        }

        img {
            width: 44px;
            height: 44px;
        }

        p {
            font-weight: 500;
            color: $white;
        }
    }

}