.header {
    border-bottom: 1px solid $gray;

    &_content {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 60, 20, 1);
        padding: 15px 0;

        @include media ("<widescreen") {
            justify-content: space-between;
        }
    }

    &_logo {
        min-width: 81px;
        max-width: 81px;
        height: auto;

        img {
            width: 100%;
            height: 100%;
        }

        @include media ("<tablet") {
            min-width: 75px;
            max-width: 75px;
            height: auto;
        }
    }

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;

        @include media ("<widescreen") {
            position: fixed;
            z-index: 100;
            left: -100%;
            max-width: 390px;
            width: 100%;
            padding: 70px 20px 40px 20px;
            background-color: $white;
            flex-direction: column;
            transition: all .7s ease;
            overflow: auto;
        }

        @include media ("<phone") {
            max-width: 100%;
        }

        scrollbar-width: none;

        ::-webkit-scrollbar {
            display: none;
        }

        &.show {
            left: 0;
            transition: all .7s ease;
        }
    }

    &_nav {
        @include media ("<widescreen") {
            width: 100%;
        }
    }

    &_nav-menu {
        display: flex;
        align-items: center;
        gap: 14px;

        li {
            &::before {
                display: none;
            }
        }

        @include media ("<widescreen") {
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
        }
    }

    &_menu-item {
        padding: 8px;
        border-radius: 8px;
        transition: all .3s ease;

        &:hover {
            .header_menu-link {
                color: $orange;
                transition: all .3s ease;
            }

            background-color: $orange_hover;
            transition: all .3s ease;
        }
    }

    &_menu-link {
        font-size: 16px;
        font-weight: 500;
        line-height: 120%;
        transition: all .3s ease;

        @include media ("<widescreen") {
            font-size: 25px;
        }
    }

    &_buttons {
        display: flex;
        align-items: center;
        gap: 4px;

        @include media ("<widescreen") {
            flex-direction: column;
            width: 100%;

            .btn {
                width: 100%;
            }
        }
    }

    &_number {
        color: $orange;
        padding: 16px 20px;
        border-radius: 8px;
        transition: all .3s ease;
        font-size: 18px;
        font-weight: 700;

        @include media ("<widescreen") {
            font-weight: 500;
            font-size: 25px;
        }

        &:hover {
            background-color: $orange_hover;
            transition: all .3s ease;
        }
    }

    &_burger {
        display: none;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid $gray;
        padding: 15px 10px;
        box-sizing: border-box;
        position: relative;

        @include media ("<widescreen") {
            display: block;
        }

        &.open {
            span {
                transition: all .3s ease;

                &:nth-child(1) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    width: 0px;
                }

                &:nth-child(3) {
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(-45deg);

                }
            }
        }

        span {
            position: absolute;
            display: block;
            width: 26px;
            height: 1px;
            background-color: $black;
            transition: all .3s ease;

            &:nth-child(1) {
                top: 15px;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(2) {
                top: 50%;
                left: 50%;
                transform: translateX(-50%);
            }

            &:nth-child(3) {
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}