<footer id="footer" class="footer">
    <img class="footer_circles" src="./svg/circles.svg" alt="circles">
    <div class="container">
        <div class="footer_content">
            <div class="footer_top">
                <a href="index.html" class="footer_logo">
                    <img src="./images/footer_logo.svg" alt="image not found">
                </a>
                <div class="footer_info">
                    <nav class="footer_menu">
                        <ul>
                            <li><a href="about.html">Про нас</a></li>
                            <li><a href="news.html">Новини</a></li>
                            <li><a href="services.html">Послуги</a></li>
                            <li><a href="#">Контакти</a></li>
                            <li><a href="partners.html">Партнери</a></li>
                        </ul>
                    </nav>
                    <p class="footer_label">Головний офіс</p>
                    <a href="tel:+380777043333" class="footer_number">+38 077 704 33 33</a>
                    <p class="footer_info-item">10001, Україна, Житомирська область, м. Житомир,
                        вулиця Корольова, 132</p>
                    <p class="footer_info-item">Пн-пт, з 10 до 18</p>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="left-col">
                    <div class="footer_socials">
                        <a href="#" target="_blank" class="social_link">
                            <img src="./svg/inst.svg" alt="instagram icon">
                        </a>
                        <a href="#" target="_blank" class="social_link">
                            <img src="./svg/facebook.svg" alt="facebook icon">
                        </a>
                    </div>
                    <div class="footer_link-wrap">
                        <a href="#" class="footer_link">Cookies Policy</a>
                        <a href="#" class="footer_link">Privacy Policy</a>
                    </div>
                </div>
                <p>© 2025. Polisia Color Steel. All rights reserved</p>
            </div>
        </div>
    </div>
</footer>