<div class="form-popup-wrapper">
    <div class="backdrop"></div>
    <div class="form-popup">
        <button type="button" class="close-form-btn" id="close-form-popup"></button>
        <h3>Записатись на консультацію</h3>
        <p>Залишіть заявку та наш менеджер зв'яжеться з вами якомога щвидше</p>
        <div class="popup-form-wrap">
            <form action="#">
                <input type="text" placeholder="Ім’я*">
                <input type="tel" placeholder="Телефон*">
                <input type="email" placeholder="Пошта*">
                <textarea name="message" placeholder="Опишіть коротко вашу задачу"></textarea>
                <label for="policyAgree_2" class="custom-checkbox-wrap">
                    <input type="checkbox" id="policyAgree_2" name="policyAgree">
                    <span class="custom-checkbox"></span>
                    Я згоден на обробку персональних даних та з умовами угоди користувача
                </label>
                <button type="submit" class="btn btn_orange">Залишити заявку</button>
            </form>
        </div>
    </div>
</div>