<header id="header" class="header">
    <div class="container">
        <div class="header_content">
            <a href="index.html" class="header_logo">
                <img src="./images/logo.webp" alt="Polisia Color Steel Logo">
            </a>
            <div class="header_inner">
                <nav class="header_nav">
                    <ul class="header_nav-menu">
                        <li class="header_menu-item">
                            <a href="about.html" class="header_menu-link">Про нас</a>
                        </li>
                        <li class="header_menu-item">
                            <a href="services.html" class="header_menu-link">Послуги</a>
                        </li>
                        <li class="header_menu-item">
                            <a href="partners.html" class="header_menu-link">Партнери</a>
                        </li>
                        <li class="header_menu-item">
                            <a href="news.html" class="header_menu-link">Новини</a>
                        </li>
                        <li class="header_menu-item">
                            <a href="contact.html" class="header_menu-link">Контакти</a>
                        </li>
                    </ul>
                </nav>
                <div class="header_buttons">
                    <a href="tel:+380777043333" class="header_number">+38 077 704 33 33</a>
                    <button type="button" class="btn btn_white"
                        aria-label="Show Appointment Popup ">Замовити консультацію</button>
                </div>
            </div>
            <button type="button" aria-label="Open Menu" class="header_burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>