// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-weight: 500;
    margin: 0;
    color: $headings-color;
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    @include adaptive-value("font-size", 48, 32, 1);
    @include adaptive-value("letter-spacing", 0.96, 0.64, 1);
    line-height: 115%
}

h3,
.h3 {
    @include adaptive-value("font-size", 32, 25, 1);
    line-height: 120%;
}

h4,
.h4 {
    @include adaptive-value("font-size", 26, 22, 1);
    @include adaptive-value("letter-spacing", 0.26, 0.22, 1);
    line-height: 135%;
}

h5,
.h5 {
    @include adaptive-value("font-size", 22, 20, 1);
    line-height: 125%;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0;
    @include adaptive-value("font-size", 18, 16, 1);
    line-height: 135%;
}

a {
    color: $base-link-color;
    text-decoration: none;
    transition: color .3s ease;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        @include adaptive-value("font-size", 18, 16, 1);
        line-height: 135%;
        display: flex;
        align-items: flex-start;
        gap: 8px;

        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &::before {
            content: "";
            display: block;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $black;
            margin-top: 10px;
        }
    }
}